.two-col-custom-right {
    .pane-views {
        border-top: 3px solid @black;
        border-bottom: 3px solid @black;
        margin-bottom: 50px;
    }
    .views-row {
        border-top: 3px solid @offWhite;
        .article-parent-class {
            padding: 40px 12px;
        }
        a {
            display: block;
            text-decoration: none;
            color: #333333;
            &:hover {
                background-color: @offWhite;
                .article-title-class {
                    color: #c10b4c;
                }
            }
        }
        span {
            display: block;
        }
        .article-title-class {
            font-size: 40px;
            padding-bottom: 15px;
            line-height: 1.2em;
        }
        .article-description-class p {
            font-size: 18px;
        }
        .article-date-class {
            font-size: 18px;
            color: @gray1;
        }
    }
    .view-article-sections {
        .section-number {
            display: block;
            padding: 18px;
            width: 60px;
            text-align: center;
            background: @gold;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
    }
}