/* Help and support */
.node-type-webform .region-content {
	border-top: 5px solid #000;
	border-bottom: 2px solid #000;
	padding-left: 105px;
	padding-right: 105px;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-top: 10px;
	margin-left: 105px;
	margin-right: 105px;
}
.node-type-webform .help-support-block h2 {
	color: @gray3;
	font-size: 47px;
}
.node-type-webform .help-support-block #edit-submitted-first-name {
	width: 350px;
}
.node-type-webform label {
	display: none;
}
.node-type-webform form.webform-client-form .first-name,
.node-type-webform form.webform-client-form .email {
	float: left;
	width: 350px;
}
.node-type-webform #block-system-main {
	margin-top: 30px;
}
.node-type-webform form.webform-client-form .webform-component--email {
	margin-left: 20px;
	margin-bottom: 20px;
}
.node-type-webform .btn-primary {
	margin-top: 30px;
}