.page-home {
	.panel-col-top {
		background-color: rgba(193, 11, 76, 1);
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.panel-col-top:before {
		background-color: rgba(193, 11, 76, 1);
	}
	.panel-col-top .views-field-title {
		font-size: 20px;
		line-height: 1;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.panel-col-top .views-field-title a {
		color: #fff;
		text-decoration: none;
	}
	.panel-col-top .views-field-field-homepage-summary {
		color: #fff;
		min-height: 65px;
	}
	.panel-col-top .view-homepage-roles {
		text-align: center;
	}
	.panel-col-top .view-homepage-roles .view-content {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.panel-col-top .view-homepage-roles .view-content table {
		margin-right: auto;
		margin-left: auto;
	}
	.panel-col-top .view-homepage-roles .view-content td {
		padding-left: 25px;
		padding-right: 25px;
		width: 300px;
	}
	.panel-col-bottom {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	/* Reference section (homepage) */
	.pane-homepage-reference-articles {
		display: table;
		padding: 0 105px 0;
	}
	.pane-homepage-reference-articles .pane-title {
		text-align: center;
		color: @magenta;
		margin-top: 0;
		margin-bottom: 38px;
	}
	.references-list ul {
		display: table;
		margin: 0;
		padding: 0;
	}
	.references-list ul li {
		list-style-type: none;
		border-top: 5px solid #000;
		width: 444px;
		float: left;
		margin-right: 20px;
		min-height: 202px;
		padding:0 15px;
	}
	.references-list ul li:hover {
		background-color:@gray2;
	}
	.references-list ul li .views-field-field-document-type {
		font-weight: bold;
		color: @magenta;
		padding-top: 42px;
	}
	.references-list ul li .views-field-title a {
		font-size: 40px;
		color: @gray3;
		text-decoration: none;
	}
	
}
