/* brand manager */
.node-type-persona {

	.two-col-custom-right {

		.views-row:first-child {
			border-top: 5px solid #000;
			padding-top: 30px;
		}

		.views-row {
			border-bottom: 1px solid @offWhite;
			padding-bottom: 40px;
			margin-bottom: 0px;
			padding: 30px 10px;
		}
		.views-row:hover {
			background-color:@offWhite;
		}
		.views-row:last-child {
			border-bottom: none;
		}
		.views-field-title-1 a {
			line-height: 45px;
			display: block;
			margin-bottom: 30px;
		}

		.field-content {
			margin-bottom: 20px;
		}
	}

} 

