@import 'custom_bootstrap';
@import 'reset-bootstrap';
@import 'header';
@import 'login';
@import 'home';
@import 'help-and-support';
@import 'glossary';
@import 'megamenu';
@import 'welcome';
@import 'breadcrumb';
@import 'custom-top-wrapper';
@import 'article-list';
@import 'search-results';
@import 'node-persona';
@import 'node-combo-article';
@import 'node-article';
@import 'sidebar-links';
@import 'footer';
// --------------------
.main-container #page-header {
    background-color: @grey;
    position: relative;
    &:before {
        content: "";
        display: block;
        background-color: @grey;
        top: 0;
        left: -100%;
        right: -100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}