/* Welcome Page */
.page-home .panel-col-top {
	background-color: rgba(193, 11, 76, 1);
	padding-top: 12px;
	padding-bottom: 12px;
}
.page-home .panel-col-top:before {
	background-color: rgba(193, 11, 76, 1);
}
.page-home .panel-col-top .views-field-title {
	font-size: 20px;
	line-height: 1;
	padding-top: 20px;
	padding-bottom: 20px;
}
.page-home .panel-col-top .views-field-title a {
	color: #fff;
	text-decoration: none;
}
.page-home .panel-col-top .views-field-field-homepage-summary {
	color: #fff;
	min-height: 65px;
}
.page-home .panel-col-top .view-homepage-roles {
	text-align: center;
}
.page-home .panel-col-top .view-homepage-roles .view-content {
	padding-top: 40px;
	padding-bottom: 40px;
}
.page-home .panel-col-top .view-homepage-roles .view-content table {
	margin-right: auto;
	margin-left: auto;
}
.page-home .panel-col-top .view-homepage-roles .view-content td {
	padding-left: 25px;
	padding-right: 25px;
	width: 300px;
}
.page-home .panel-col-bottom {
	margin-top: 40px;
	margin-bottom: 40px;
}


/* Reference section (homepage) */
.pane-homepage-reference-articles {
	display: table;
	padding: 0 105px 0;
}
.pane-homepage-reference-articles .pane-title {
	text-align: center;
	color: @magenta;
	margin-top: 0;
	margin-bottom: 38px;
}
.references-list ul {
	display: table;
	margin: 0;
	padding: 0;
}
.references-list ul li {
	list-style-type: none;
	border-top: 5px solid #000;
	width: 444px;
	float: left;
	margin-right: 20px;
	min-height: 202px;
	padding:0 15px;
}
.references-list ul li:hover {
	background-color:@gray2;
}
.references-list ul li .views-field-field-document-type {
	font-weight: bold;
	color: @magenta;
	padding-top: 42px;
}
.references-list ul li .views-field-title a {
	font-size: 40px;
	color: @gray3;
	text-decoration: none;
}

.page-welcome .main-container{
	text-align:center;
	margin-bottom:50px;
	margin-top:50px;
	background-color:@gray2 ;
	padding:50px 0;
	position:relative;
}
.page-welcome .main-container:before{
	  content: "";
  display: block;
  background-color: @gray2;
  top:0;
  left: -100%;
  right: -100%;
  height: 100%;
  position: absolute;
  z-index:-1;
}
.page-welcome .main-container .btn-primary {
	padding: 12px 15px;
	display:inline-block;
	margin-top:20px;
	text-transform:uppercase;
	text-decoration:none;
	width:250px;

}
.page-welcome .main-container .btn-primary:hover,
.page-welcome .main-container .btn-primary:active {
	color:#FFF;

}
.page-welcome .welcome-intro-text {
	line-height:1.5em;
	font-size:16px;
}